/* #region-body */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* #endregion body */
/* #region-logo */

/* #endregion logo */
/* #region-header */

.main-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  padding: 24px 0;
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  position: relative;
}

.nav-link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-link {
  text-decoration: none;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
/* #endregion header */
/* #region-nav */
.nav-list {
  list-style: none;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: #404bbf;
}
/* #endregion nav */
/* #region-contacts */
.contacts {
  font-style: normal;
}

.contacts-list {
  list-style: none;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
/* #endregion contacts */
/* #region-main */

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
/* #endregion main */
/* #region-hero */

.hero-section {
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
  text-align: center;
  margin: 0 auto;
}

.hero-title {
  max-width: 496px;
  margin: 0 auto 48px;
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: var(--iris-color, #4d5ae5);
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
/* #endregion hero */
/* #region-features */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features {
  padding: 120px 0;
}

.features-list {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.feature-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.feature-item {
  width: calc((100% - 72px) / 4);
  text-align: center;
}
.features-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}
/* #endregion features */
/* #region-ourteam */
.ourteam {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.ourteam-info {
  padding: 32px 0;
}

.ourteam-hero {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.ourteam-list {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.ourteam-list {
  width: calc((100% - 72px) / 4);
}

.ourteam-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  text-align: center;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.ourteam-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.ourteam-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.soc-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.soc-item {
  width: 40px;
  height: 40px;
}

.soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link:hover,
.soc-link:focus {
  background-color: #404bbf;
}

.svg-icon {
  fill: #f4f4fd;
}

/* #endregion ourteam */
/* #region-ourportfolio */

.ourportfolio {
  padding: 120px 0;
}

.ourportfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.ourportfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.ourportfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ourportfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.ourportfolio-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourportfolio-card:hover {
  transform: translateY(0%);
}

.ourportfolio-image {
  position: relative;
  overflow: hidden;
}
.ourportfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourportfolio-item:hover .ourportfolio-overlay {
  transform: translateY(0%);
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion our portfolio */
/* #region-footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-left {
  display: flex;
  flex-direction: column;
  margin-right: 120px;
}

.footer-right {
  display: flex;
  flex-direction: column;
}

.footer .footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.footer .logo-span {
  color: #f4f4fd;
}

.footer .footer-text {
  margin-bottom: 16px;
  max-width: 264px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer .footer-sociable {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer .footer-soc-list {
  display: flex;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: baseline;
}

.footer .footer-soc-list-item {
  width: 40px;
  height: 40px;
}

.footer .footer-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .footer-soc-link:hover,
.footer .footer-soc-link:focus {
  background-color: #31d0aa;
}

.footer .svg-icon {
  fill: #f4f4fd;
}
/* region-form */

.subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-left: 80px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  gap: 24px;
  margin-left: 80px;
}

.subscribe-label {
  display: block;
}

.subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  outline: none;
}

.subscribe-input::placeholder {
  color: #ffffff;
}

.subscribe-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  padding: 0 16px;
}

.subscribe-icon {
  margin-left: 16px;
  fill: #ffffff;
}
/* #endregion footer */
/* #region-img */
img {
  display: block;
}
/* #endregion img */
/* #region-backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 9999;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.popuop-rew {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover .icon-close,
.close-btn:focus .icon-close {
  fill: #ffffff;
}

.form-popup-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.input-data {
  margin-bottom: 8px;
}
.label-name {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.form-input-name-phone-email {
  position: relative;
}
.input-name-popup {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-name-popup:focus {
  border-color: #4d5ae5;
}

.icon-user-popup {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-name-popup:focus + .icon-user-popup {
  fill: #4d5ae5;
}
.comment {
  margin-bottom: 16px;
}
.input-comment-popup {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-comment-popup:focus {
  border-color: #4d5ae5;
}
/* checkbox */
.checkbox {
  margin-bottom: 24px;
}
.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.checkbox-box {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
input:checked + .checkbox-label .checkbox-box {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy-link {
  color: #4d5ae5;
}
/* submit-btn-popup */
.submit-btn-popup {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:hover,
.send-btn:focus {
  background-color: #404bbf;
}

/* #endregion-backdrop */
